*jar
.cpcache
.nrepl-port
/.lein-deps-sum
/.lein-failures
/checkouts
/classes
/lib
/native
/pom.xml
Icon*
README.html
README.pdf
README.tex
Screen*
docs/
misc/
target/
tf/.terraform/
tf/terraform.tfstate
tf/terraform.tfstate.backup