{:deps {org.clojure/clojure {:mvn/version "1.9.0"}
        eigenhombre/namejen {:mvn/version "0.1.12"}
        uswitch/lambada {:mvn/version "0.1.2"}
        cheshire {:mvn/version "5.8.1"}}
 :aliases {:uberjar {:extra-deps {seancorfield/depstar {:mvn/version "RELEASE"}}
                     :main-opts ["-m" "hf.depstar.uberjar" "trav.jar"]}
           :kibit
           {:extra-deps {lein-kibit {:mvn/version "RELEASE"}
                         jonase/kibit {:mvn/version "RELEASE"}}
            :extra-paths ["lint"]
            :main-opts ["-m" "kibit"]}
           :eastwood
           {:main-opts ["-m" "eastwood.lint" "{:source-paths,[\"src\"]}"]
            :extra-deps {jonase/eastwood {:mvn/version "RELEASE"}}}
           :outdated {:extra-deps {olical/depot {:mvn/version "RELEASE"}}
                      :main-opts ["-m" "depot.outdated.main"]}
           :chars {:main-opts ["-m" "trav.core"]}
           :test {:extra-paths ["test"]
                  :extra-deps {com.cognitect/test-runner
                               {:git/url
                                "https://github.com/Olical/test-runner.git"
                                :sha
                                "7c4f5bd4987ec514889c7cd7e3d13f4ef95f256b"}}
                  :main-opts ["-m" "cognitect.test-runner"]}
           :aot  ;; See https://github.com/juxt/pack.alpha#lambda:
           {:extra-paths ["classes"]
            :main-opts ["-e" "(compile,'trav.lambda)"]}
           :pack {:extra-deps
                  {pack/pack.alpha
                   {:git/url "https://github.com/juxt/pack.alpha.git"
                    :sha "24863d1ff5a54bb7cc783ff62272212b51c8b316"}}
                  :main-opts ["-m"]}}}
