{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.5"}
        clj-http/clj-http {:mvn/version "3.13.1"}
        org.clojure/data.csv {:mvn/version "1.1.1"}
        eigenhombre/namejen {:mvn/version "0.1.23"}
        cheshire/cheshire {:mvn/version "6.2.0"}
        org.slf4j/slf4j-nop {:mvn/version "2.0.18"}}
 :aliases {:run {:main-opts ["-m" "trav.core"]}
           :build {:deps {io.github.clojure/tools.build
                          {:git/tag "v0.10.5"
                           :git/sha "2a21b7a"}}
                   :ns-default build}
           :kibit {:extra-deps {lein-kibit/lein-kibit {:mvn/version "RELEASE"}
                                jonase/kibit {:mvn/version "RELEASE"}}
                   :extra-paths ["lint"]
                   :main-opts ["-m" "kibit"]}
           :eastwood {:main-opts ["-m" "eastwood.lint" "{:source-paths,[\"src\"]}"]
                      :extra-deps {jonase/eastwood {:mvn/version "RELEASE"}}}
           :outdated {:extra-deps {olical/depot {:mvn/version "RELEASE"}}
                      :main-opts ["-m" "depot.outdated.main"]}
           :test {:extra-paths ["test"]
                  :extra-deps {com.cognitect/test-runner
                               {:git/url
                                "https://github.com/Olical/test-runner.git"
                                :sha
                                "7c4f5bd4987ec514889c7cd7e3d13f4ef95f256b"}}
                  :main-opts ["-m" "cognitect.test-runner"]}}}
